* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* common */
.mar {
    margin: 0px 100px;
}
.row{
    display: flex;
}

header #sup{
    display: flex;
    justify-content: space-between;
}

header #sup a{
    text-decoration: none;
    color: #000;
    display: inline-block;

    padding: 20px 30px;
}


